<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
      var stripePublicKey = "<%= stripePublicKey %>"
    </script>
    <script src="store.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Journal Cost</h1>
    <p class="cart-total-price" data-id="1">
      £<%= items.products[0].journalCost; %>
    </p>
    <button type="submit" class="purchaseAccess" data-id="1">Purchase</button>
  </body>
</html>
